<h1>Welcome To Beer Enthusiast</h1>

<p>
    The place where you can view ratings and comments for different beers. You can also post your own ratings and comments if you sign up.
</p>

<p>
    <%= link_to "Beers", beers_path %>
</p>