<h1>
    Breweries
    <% if @user %>
        <%= @user.username %> has drank beers from
    <% end %>
</h1>

<div class="info-list">
    <ul>
        <% sort_breweries_by_name(@breweries).each do |brewery| %>
            <li class="brewery-list">
                <% if @user %>
                    <%= link_to brewery.name, user_brewery_path(@user, brewery) %>
                <% else %>
                    <%= link_to brewery.name, brewery_path(brewery) %>
                <% end %>
                <br>
                Avg. Beer Rating: <%= brewery.average_rating_all_beers %>
            </li>
        <% end %>
    </ul>
</div>