<h1>Breweries</h1>


<% sort_breweries_by_name(@breweries).each do |brewery| %>
    <p>
        <% if @user %>
            <%= link_to brewery.name, user_brewery_path(@user, brewery) %>
        <% else %>
            <%= link_to brewery.name, brewery_path(brewery) %>
        <% end %>
    </p>
<% end %>
