<div class="brewery-info">
    <h1><%= @brewery.name %></h1>
    <p>
        <%= @brewery.location %>
    </p>
</div>

<h2>
    Beers
    <% if @user %>
        tried
    <%end %>
</h2>

<div class="info-list">
    <ul>
    <% sort_beers_by_name(@beers).each do |beer| %>
        <%= render partial: "beers/beer", locals: {beer: beer} %>
    <% end %>
    </ul>
</div>