<h1>Search Results:</h1>

<div class="info-list">
    <ul>
        <% sort_beers_by_name(@beers).each do |beer| %>
            <%= render partial: "beer", locals: {beer: beer} %>
        <% end %>
    </ul>
</div>