/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 20px;
    margin-top: 30px;
}

header {  
    background-color: orange;
    position: fixed;
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 40px;
    width: 100%;
    display: inline-table;
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
}

header * {  
    display: inline;  
}

header li {  
    margin: 20px;  
}

header .logo-small {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -20px;
    width: 40px;
    float: left;
}

.logo-small img {
    width: 50px;
    height: 50px;
}

header nav .navLeft {
    float: left;
}

header nav .navRight {
    float: right;
}

.image-container {
    margin: 5px;
    padding: 10px;
    width: 75%;
    height: auto;
}

div.image-container img {
    width: 250px;
    height: 130px;
}

.image-container > img.user-page {
    width: 200px;
    height: 160px;
}

.nav-grid {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
}

.nav-grid > div {
    text-align: center;
    font-size: 25px;
}

div.nav-grid a img {
    width: 210px;
    height: 108px;
}

div.nav-grid a img.new-beer {
    width: 150px;
    height: 108px;
}

div.info-list p {
    width: max-content;
    background-color: rgb(245, 244, 238);
    border: 0.5px solid black;
    padding: 5px;
}

div.info-list ul {
    list-style-type: none;
}

div.info-list li {
    width: max-content;
    background-color: rgb(245, 244, 238);
    border: 0.5px solid black;
    padding: 5px;
    margin-left: -30px;
    margin-bottom: 10px;
}

div.info-box {
    width: max-content;
    margin-top: 30px;
    background-color: rgb(166, 213, 235);
    border: 1px hidden;
    border-width: medium;
    padding: 7px 25px 7px 7px;
}

div.review-list {
    width: 100%;
    border: 0.5px solid black;
}

div.review-list p {
    width: auto;
    border-bottom: 1px dashed black;
    margin: 10px;
    padding-bottom: 14px;
}

div.brewery-info {
    width: max-content;
    border-bottom: 1px solid black;
}

a.btn-link:link, a.btn-link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.btn-link:hover, a.btn-link:active {
    background-color: red;
}

a.btn-link.all-reviews:link, a.btn-link.all-reviews:visited {
    background-color: rgb(167, 248, 87);
    color: rgb(138, 23, 138);
    margin-top: -5px;
}

a.btn-link.all-reviews:hover, a.btn-link.all-reviews:active {
    background-color: rgb(124, 235, 13);
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    width: fit-content;
}

#error_explanation {
    color: red;
}
