/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 20px;
    margin-top: 30px;
}

header {  
    background-color: orange;
    position: fixed;
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 40px;
    width: 100%;
    display: inline-table;
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
}

header * {  
    display: inline;  
}

header li {  
    margin: 20px;  
}

header .logo-small {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -20px;
    width: 40px;
    float: left;
}

.logo-small img {
    width: 50px;
    height: 50px;
}

header nav .navLeft {
    float: left;
}

header nav .navRight {
    float: right;
}

.image-container {
    margin: 5px;
    padding: 10px;
    width: 75%;
    height: auto;
}

.image-container img {
    width: 50%;
}

.image-container > img.user-page {
    width: 200px;
    height: 160px;
}

.nav-grid {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
}

.nav-grid > div {
    text-align: center;
    font-size: 25px;
}

